.header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    background-color: #ff9d00;
    text-align: center;
    border-bottom: 2px solid #ff6600b5;
    color: #ffffff;
  }